<!DOCTYPE html>
<html lang="en", xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add problems</title>
</head>
<body>
<form th:action="@{/problems}" th:object = "${problemForm}" method="post">
    <label> Input name of problem:</label>
    <input type="text" name="name" maxlength="50"/>
    <label> Input description :</label>
    <textarea name="description", maxlength="500"/></textarea>
    <input type="submit" value="Add" />
</form>
<div>
    <p>Problems in project: <p/>
    <p th:text="${count}"/>
    <p th:text="${decision}"/>
</div>
<a href = "/home">Home page</a>
</form>
</body>
</html>