<!DOCTYPE html>
<html lang="en", xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<form th:action="@{/logout}" href="/" method="post">
    <input type="submit" value="Logout"/>
</form>
<a href = "/add"/>Add</a>
<form th:action="@{/home/filter}" th:object = "${projectForm}" method="post">
    <label> Search by name of project:</label>
    <input type="text" name="name" maxlength="50"/>
    <label> Search by  surname of head :</label>
    <input type="text" name="head" maxlength="30"/>
    <label> Search by  date of finish :</label>
    <input type="text" name="date_finish" maxlength="30"/>
    <label> Search by  budget :</label>
    <input type="text" name="budget" maxlength="10"/>
    <input type="submit" value="Search" />
</form>

<table th:each="project : ${projects}">
    <tr><td th:text="'Name: ' + ${project.getName()}"></td></tr>
    <tr><td th:text="'Head: ' + ${project.getHead()}"></td></tr>
    <tr><td th:text="'Date finish: ' + ${project.getDateFinish()}"></td></tr>
    <tr><td  style="border: 0"><form th:action="@{/home/view}" method="post">
        <input type="number" name="id" th:value="${project.getProjectID()}" style="display: none" >
        <input type="submit" value="View"/>
    </form>
    <form th:action="@{/home/edit}" method="post">
        <input type="number" name="id" th:value="${project.getProjectID()}" style="display: none" >
        <input type="submit" value="Edit"/>
    </form>
    <form th:action="@{/home/delete}" method="post">
        <input type="number" name="id" th:value="${project.getProjectID()}" style="display: none" >
        <input type="submit" value="Delete"/>
    </form></td></tr>
</table>
    <form th:action="@{/home/next}" method="post">
        <input type="number" name="id" th:value="${page.getId()}" style="display: none" >
        <input type="submit" value="Next page"/>
    </form>
    <form th:action="@{/home/prev}" method="post">
        <input type="number" name="id" th:value="${page.getId()}" style="display: none" >
        <input type="submit" value="Previous page"/>
    </form>
</body>
</html>