<!DOCTYPE html>
<html lang="en", xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel = stylesheet type="text/css"  th:href="@{/styles/home_page.css}" />
    <title>Home</title>
</head>
<body>
<form th:action="@{/logout}" href="/" method="post" id = logout>
    <input class = submit type="submit" value="Logout"/>
</form>
<a class = submit href = "/add"/>Add</a>
<form th:action="@{/home/filter}" th:object = "${projectForm}" method="post">
    <label> Search by name of project:</label>
    <input type="text" name="name" maxlength="50"/>
    <label> Search by  surname of head :</label>
    <input type="text" name="head" maxlength="30"/>
    <label> Search by  date of finish :</label>
    <input type="text" name="dateFinish" maxlength="30"/>
    <label> Search by  budget :</label>
    <input type="text" name="budget" maxlength="10"/>
    <input class = submit type="submit" value="Search" />
</form>
<div>
    <p th:text="${decision}"/>
</div>
<table>
<tr><td>
<form th:action="@{/home/order}" th:object = "${sort}" method="get">
    <input type="number" name="id" th:value=11 style="display: none" >
    <input class = submit type="submit" value="By Name (dec)"/>
</form>
</td><td>
    <form th:action="@{/home/order}" th:object = "${sort}" method="get">
        <input type="number" name="id" th:value=12 style="display: none" >
        <input class = submit type="submit" value="By Name (asc)"/>
    </form>
</td>
</tr>
<tr><td>
    <form th:action="@{/home/order}" th:object = "${sort}" method="get">
        <input type="number" name="id" th:value=21 style="display: none" >
        <input class = submit type="submit" value="By Head (dec)"/>
    </form>
</td><td>
    <form th:action="@{/home/order}" th:object = "${sort}" method="get">
        <input type="number" name="id" th:value=22 style="display: none" >
        <input class = submit type="submit" value="By Head (asc)"/>
    </form>
</td>
</tr>
<tr><td>
    <form th:action="@{/home/order}" th:object = "${sort}" method="get">
        <input type="number" name="id" th:value=31 style="display: none" >
        <input class = submit type="submit" value="By Budget (dec)"/>
    </form>
</td><td>
    <form th:action="@{/home/order}" th:object = "${sort}" method="get">
        <input type="number" name="id" th:value=32 style="display: none" >
        <input class = submit type="submit" value="By Budget (asc)"/>
    </form>
</td>
</tr>
<tr><td>
    <form th:action="@{/home/order}" th:object = "${sort}" method="get">
        <input type="number" name="id" th:value=41 style="display: none" >
        <input class = submit type="submit" value="By Date finish (dec)"/>
    </form>
</td><td>
    <form th:action="@{/home/order}" th:object = "${sort}" method="get">
        <input type="number" name="id" th:value=42 style="display: none" >
        <input class = submit type="submit" value="By Date finish (asc)"/>
    </form>
</td>
</tr>
<tr><td>
    <form th:action="@{/home/order}" th:object = "${sort}" method="get">
        <input type="number" name="id" th:value=0 style="display: none" >
        <input class = submit type="submit" value="Default"/>
    </form>
</td></tr>
</table>

<table th:each="project : ${projects}">
    <tr><td th:text="'Name: ' + ${project.getName()}"></td></tr>
    <tr><td th:text="'Head: ' + ${project.getHead()}"></td></tr>
    <tr><td th:text="'Date finish: ' + ${project.getDateFinish().get(5)} + '-' + ${project.getDateFinish().get(2) + 1} + '-' + ${project.getDateFinish().get(1)}"></td></tr>
    <tr><td  style="border: 0"><form th:action="@{/home/view}" th:object = "${view}" method="get">
        <input type="number" name="projectID" th:value="${project.getProjectID()}" style="display: none" >
        <input class = submit type="submit" value="View"/>
    </form>
    <form th:action="@{/home/edit}" method="get">
        <input type="number" name="projectID" th:value="${project.getProjectID()}" th:object = "${edit}" style="display: none" >
        <input class = submit type="submit" value="Edit"/>
    </form>
    <form th:action="@{/home/delete}" method="get">
        <input type="number" name="projectID" th:value="${project.getProjectID()}" th:object = "${delete}" style="display: none" >
        <input class = submit type="submit" value="Delete"/>
    </form></td></tr>
</table>
<table>
    <tr><td><form th:action="@{/home/next}" method="get">
        <input type="number" name="id" th:value="${page.getId()}" style="display: none" >
        <input class = submit type="submit" value="Next page"/>
    </form></td><td> <form th:action="@{/home/prev}" method="get">
        <input type="number" name="id" th:value="${page.getId()}" style="display: none" >
        <input class = submit type="submit" value="Previous page"/>
    </form></td></tr>
</table>
</body>
</html>