<!DOCTYPE html>
<html lang="en", xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form th:action="@{/register}" th:object = "${userForm}" method="post">
    <label class="Nt">Enter username:</label>
    <input type="text" name="username" maxlength="20"/>
    <label class="Pt">Enter password:</label>
    <input type="password" name="password" maxlength="20"/>
    <input type="submit" value="Register" />
</form>
<div class="error">
    <p th:text="${decision}"/>
</div>
</body>
</html>